# Stuff I've stashed away:
OLD

# CMS additions:
delete_prob
*.fits

# The pdfs for the paper:
doc/WCSFit.pdf
doc/WCSFoF.pdf

# Program for temporary tests
test.cpp
test.o
test

# executables
bin/*
testbin/*

# Standard stuff:
build
install
build_cmake
*.o
.depend
*.log
*.aux
*.dvi
.sconf_temp
.sconsign.dblite
config.log
*.so
*.os
*.pyc
*.rel
.obj
gs_scons.*
.*.swp
.DS_Store
gs.error
*junk*
debug.out
tmp*
*~
*.synctex.gz
