# YAML configuration for processing of a starflat epoch
# These are the fields where we have taken starflats, you
# can add more with no harm if they are well separated
Fields:
- name:  0640-34
  coords:    06:40:00  -34:00:00
  radius: 2.
- name:  0730-50
  coords:    07:30:00 -50:00:00
  radius: 2.
- name:  1327-48
  # Outskirts of Omega Cen:
  coords:    13:27:00 -48:45:00
  radius: 2.
- name:  1900-50
  coords:    19:00:00 -50:00:00
  radius: 2.
- name:  2040-35
  coords:    20:40:00 -35:00:00
  radius: 2.
#
# These are the locations of the Gaia reference catalogs on Gary's
# system. Replace with your own collection or get rid of these.
Files:
- glob:  /data3/DECAM/PHOTCAL/STARFLATS/ASTREF/gaia.0640-34.cat
  expkey: gaia0640
- glob:  /data3/DECAM/PHOTCAL/STARFLATS/ASTREF/gaia.0730-50.cat
  expkey: gaia0730
- glob:  /data3/DECAM/PHOTCAL/STARFLATS/ASTREF/gaia.1327-48.cat
  expkey: gaia1327
- glob:  /data3/DECAM/PHOTCAL/STARFLATS/ASTREF/gaia.1900-50.cat
  expkey: gaia1900
- glob:  /data3/DECAM/PHOTCAL/STARFLATS/ASTREF/gaia.2040-35.cat
  expkey: gaia2040
#
# These are the attributes assigned to the catalogs for normal
# starflat processing.
Attributes:
- key:    INSTRUMENT
  value:  < FILTER
  translation: '^\s*(.).*$=\1'
- key:    BAND
  value:  < FILTER
  translation: '^\s*(.).*$=\1'
- key:    FIELD
  value:  _NEAREST
- key:    DEVICE
  value:  < DETPOS
- key:    RA
  value:  < TELRA
- key:    DEC
  value:  < TELDEC
- key:    WCSIN
  value:  _HEADER
- key:    XKEY
  value:  XWIN_IMAGE
- key:    YKEY
  value:  YWIN_IMAGE
- key:    IDKEY
  value:  _ROW
- key:    ERRKEY
  value:  ERRAWIN_IMAGE
- key:    WEIGHT
  vtype:  float
  value:  1.
# For Photometry fitting:
- key:    AIRMASS
  vtype:  float
  value:  < AIRMASS
- key:    EXPTIME
  vtype:  float
  value:  < EXPTIME
# Specifies here to use the 8th aperture magnitude
# for everything.
- key:    MAGKEY
  value:  MAG_APER[7]
- key:    MAGERRKEY
  value:  MAGERR_APER[7]
- key:    MAGWEIGHT
  vtype:  float
  value:  1.
# Assign APCOR09 to the APCORR:
- key:    APCORR
  vtype:  float
  value:  <APCOR09
  default: 0.
- key: HA
  vtype:  str
  value:   < HA
  default: "00:00:00"
- key:    MJD
  vtype:  float
  value:  < MJD-MID
  default: 0.
- key:    EPOCH
  value:  < CALEPOCH
  default: '00000000'
#
# This is the selection function applied to all objects.
# Can be replaced with an empty field (' ', a single space) 
# if the input catalogs are already cleaned
- key:    SELECT
  value:  >
    ERRAWIN_IMAGE<0.05 && 
    XWIN_IMAGE>20 && YWIN_IMAGE>10 && 
    XWIN_IMAGE<2029 && YWIN_IMAGE<4087 && 
    MAGERR_AUTO<0.03 &&
    (FLAGS & 231) ==0
#
# This is the criterion for calling something stellar.
# Also can be set to value: ' ' if all objects are stellar.
- key:    STARSELECT
  value:  CLASS_STAR > -3. && CLASS_STAR < 3.
- key:    AFFINITY
  value:  '${BAND}'
#
# These attributes override some of the above
# for the Gaia reference catalogs
- key:  INSTRUMENT
  select: gaia.*
  value: _REFERENCE
- key:  BAND
  select: gaia.*
  value: _REFERENCE
- key:  WCSIN
  select: gaia.*
  value: _ICRS
- key:  WEIGHT
  select: gaia.*
  vtype: float
  value: 1.
- key:  AFFINITY
  select: gaia.*
  value: STELLAR
- key:  XKEY
  select: gaia.*
  value: RA_ICRS
- key:  YKEY
  select: gaia.*
  value: DE_ICRS
- key:  ERRKEY
  select: gaia.*
  value: e_RA_ICRS
- key:  SELECT
  select: gaia.*
  value: e_RA_ICRS < 0.02/3600.
- key:  STARSELECT
  select: gaia.*
  value: ''
- key:  MAGKEY
  select: gaia.*
  value: MAG
- key:  MAGERRKEY
  select: gaia.*
  value: MAGERR
- key:  DEVICE
  select: gaia.*
  value:  gaia
# Give coordinates of the Gaia fields directly
# They can also be in the catalog headers.
- key:  RA
  select:  gaia0640
  value: '06:40:00'
- key:  DEC
  select:  gaia0640
  value: '-34:00:00'
- key:  RA
  select:  gaia0730
  value: '07:30:00'
- key:  DEC
  select:  gaia0730
  value: '-50:00:00'
- key:  RA
  select:  gaia1327
  value: '13:27:00'
- key:  DEC
  select:  gaia1327
  value: '-48:45:00'
- key:  RA
  select:  gaia1900
  value: '19:00:00'
- key:  DEC
  select:  gaia1900
  value: '-50:00:00'
- key:  RA
  select:  gaia2040
  value: '20:40:00'
- key:  DEC
  select:  gaia2040
  value: '-35:00:00'
